#box1{
    height: 200px;
    background-color: rgb(0, 255, 255, 0.508);
    width:300px;
}
#box2{
    height: 50%;
    background-color: rgb(255, 121, 121);
    width:50%;
}
.paddedtext{
    padding: 20px;
    background-color: aquamarine;
 }
 .custompadding{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blueviolet;
 }
 .borderbox{
    border: solid black 2px;
    background-color: bisque;
 }
 .roundedborder{
    border-radius: 15px;
    background-color: chocolate;
    border: dotted red 3px;
 }
 .margintext{
    margin:30px;
    background-color: cornflowerblue;
 }
 .custommargin{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 40px;
    background-color: darkorchid;
 }
 .inline-element{
    display: inline;
    background-color: deeppink;
 }
 .block-element{
    display: block;
    background-color: darksalmon;
 }
 .lnline-block-element{
    display: inline-block;
    background-color: darkkhaki;
 }
 .hidden-element{
    display: none;
    background-color: gold;
 }
.visible-element{
    visibility: visible;
    background-color: indigo;
}
.invisible-element{
    visibility: hidden;
    background-color: darkslategrey;
}
.transparent-box{
    background-color: blue;
    opacity: 0.5;
}